langchain
langchain-openai
langchain-pinecone
langchain-experimental
langchainhub
python-dotenv
beautifulsoup4
tiktoken
unstructured
nltk
python-magic-bin
fastapi
pinecone-client
jinja2
unicorn
streamlit
streamlit-chat
tqdm
qrcode
panda
tabulate
